doctype
html
  head
    title TMS Phonebook Search
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 TMS Phonebook Search
    .container
        .main-content
            block content
    footer
      p 
        center Built by Marcello Federico (marfeder@cisco.com)