if (results == undefined)
      | Sorry nobody by that name here....
 else
    table(class='min-table min-table-horizontal')
      thead
        tr
          th Name
          th Uri
      
      tbody
        for result in results
            tr
              td #{result.Name}
              td
                a(class='modern' href='tel:#{result.Route[0].DialString}') 
                   | #{result.Route[0].DialString} 
      