/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #1FACEF
background-color = #DEDEDE
main-width = 625px                   

body
  font-family 'Quicksand'
  background-color background-color
  color #444

header
  font-family 'Quicksand'
  padding 50px 10px
  color #555
  font-size 25px
  text-align center

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

.container
  width main-width
  margin 20px auto
  overflow hidden

.main-content
  float left
  width main-width

  .modern 
    color #191818
    display inline-block
    margin 10px
    padding 8px 15px
    background #41A821
    border 1px solid rgba(0,0,0,0.15)
    border-radius 4px
    transition all 0.3s ease-out
    box-shadow
        inset 0 1px 0 rgba(255,255,255,0.5),
        0 2px 2px rgba(0,0,0,0.3),
        0 0 4px 1px rgba(0,0,0,0.2)
    text-decoration none
 
  .modern:hover 
    background lighten(#41A821, 20%)

  .min-table 
    border solid 1px #191818
    border-collapse collapse
    border-spacing 0
    font-family 'Quicksand'
    font-size 16px

  .min-table thead th 
    background-color darken(background-color, 20%)
    border solid 1px #191818
    color #191818
    padding 10px
    text-align center
    border-left none
    border-right none
    
  .min-table thead tr
    border-left none
    border-right none
    
  .min-table tbody td 
    border solid 1px #191818
    color #333
    padding 10px
   

  .min-table-horizontal tbody td 
    border-left none
    border-right none
  
  input 
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    width: 400px
    font-family 'Quicksand'
    font-size 16px
    
footer
  font-family 'Quicksand'
  width 500px
  margin 20px auto
  border-top 1px dotted #444
  padding-top 5px
  font-size 13px
  